
*{
    box-sizing: border-box;
    margin: 0; padding: 0;
}
html{
    color:#202020;
    font-size: 14px;
    font-family: 'Hiragino Kaku Gothic ProN', 'メイリオ', 'meiryo', sans-serif;
}
body{
    background-color: whitesmoke;
}
h1{
    margin: 14px;
    padding: 0;
    color: rgb(3, 51, 78);
    font-size: 2.4em;
    font-weight: bold;
}
h2{
    margin: 14px;
    margin-top: 24px;
    padding: 0 8px;
    font-size: 1.6em;
    font-weight: bold;
    border-left: 8px solid rgb(85, 140, 173);
    border-bottom: 2px solid rgb(85, 140, 173);
}
h3{
    margin: 14px;
    margin-top: 24px;
    padding: 0 4px;
    font-size: 1.2em;
    font-weight: bold;
    border-left: 3px solid rgb(85, 140, 173);
}
p{
    margin: 14px;
}
hr{
    margin: 14px;
}
ul, ol{
    margin: 14px 30px;
}
li ol, li ul{
    margin: 0px 30px;
}
table{
    margin: 14px;
    border-collapse: collapse;
}
td,th{
    padding: 3px 10px;
    border: 1px solid lightgray;
}
th{
    color: white;
    background: dimgray;
}
tr:nth-child(2n){
    background: rgb(235, 235, 235);
}
pre{
    margin: 14px;
    background: rgb(235, 235, 235);
    padding: 5px;
}
code {
    color: whitesmoke;
    background: #2e2930;
    margin: 0 3px;
    padding:0 3px;
}
pre > code{
    display: block;
    margin: -5px;
    padding: 10px;
}
blockquote{
    margin: 14px;
}
.blockquoteNest{
    padding-left: 5px;
    border-left: 4px solid #7ebeab;
}
em{
    font-style: oblique;
}
strong{
    font-weight: bold;
    color: crimson;
}